@media screen and (max-width: 800px) {
    #userinput {
        width: 30rem;
    }

    .btn {
        margin: 1.2rem 0.1rem;
    }

    .form-control {
        margin: 0 auto;
    }
    #add{
        font-size: 1rem;
    }
    #remove{
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #userinput {
        width: 15rem;
    }

    .btn {
        margin: 1.2rem 0.1rem;
    }

    .form-control {
        margin: 0 auto;
    }
    #add{
        font-size: 0.7rem;
    }
    #remove{
        font-size: 0.7rem;
    }
}
@media screen and (max-width: 300px) {
    #userinput {
        width: 10rem;
    }

    .btn {
        margin: 1.2rem 0.1rem;
    }

    .form-control {
        margin: 0 auto;
    }
    #add{
        font-size: 0.7rem;
    }
    #remove{
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 100px) {
    #userinput {
        width: 10rem;
        
    }

    .btn {
        margin: 1.2rem 0.1rem;
    }

    .form-control {
        margin: 0 auto;
    }
    #add{
        font-size: 0.7rem;
    }
    #remove{
        font-size: 0.7rem;
    }
    .form-control{
        font-size: 0.7rem ;
    }
}


